---
import Container from "@components/Container.astro";

type Props = {
  size?: "sm" | "md" | "md-lg" | "lg" | "xl" | "2xl";
};

const { size = "md-lg" } = Astro.props;
---

<div class="flex-1 pb-5">
  <Container size={size}>
    <slot />
  </Container>
</div>
